.category-list {
    list-style: none;
    padding: 0;
}

.category-list ul {
    display: block;
    cursor: default;
    display: none;
    list-style: none;
    padding: 0px;
    padding-left: 15px;
}
.category-list span {
    cursor: pointer;
}
.my-input-checkbox {
    height: 15px;
    width: 15px;
    margin-right: 5px;
    position: inherit !important;
}

.manufacturers-list tr {
    cursor: pointer;
}

.manufacturers-list-selected{
    background-color: #cce5ff !important;
}